:root {
  --primary-text-color--: #757575;
  --title-text-color--: #212121;
  --accent-color--: #2196f3;
  --logo-title-color--: #000000;
  --button-color--: #ffffff;
  --button-bcr-color--: #f5f4fa;
  --hero-bcr-color--: #C4C4C4;;
  --footer-text-color--: rgba(255, 255, 255, 0.6);
  --footer-bcr-color--:#2F303A;
  --hero-gradient--:rgba(47, 48, 58, 0.4);
  --icon-fii--:#AFB1B8;
 
}


body {
  background-color: var(--button-color--);
  color: var(--primary-text-color--);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

h1, h2, h3, h4, {
  margin-bottom: 0;
  margin-top: 0;
}

.title.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color--);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid aqua; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-- ШАПКА САЙТА --*/
.logo {
  color: var(--logo-title-color--);

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo .accent {
  color: var(--accent-color--);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color--);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .item {
  position: relative;
}


.page-header .current::after {
  content: '';
    position: absolute;
    background-color: #2196F3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    
}




/* НАВИГАЦИЯ */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color--);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color--);
}

.site-nav .link.current {
  color: var(--accent-color--);
}

.site-nav.list {
  padding-left: 0;
  margin-left: 93px;
  /* margin-right: auto; */
}

.site-nav {
  display: flex;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .item {
  margin-left: 0;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* КОНТАКТЫ */

.contacts-list .header {
  color: var(--primary-text-color--);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}



.contacts-list {
  display: flex;
  padding-left: 0;
  margin-left: auto;

  justify-content: center;
  align-items: center;
}

.contacts-list .item+.item {
  margin-left: 50px;
}

.item.logo {
  display:flex;
  align-items: center;
  justify-content: center;
}

.link.header {
  display: flex;
  align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .contacts-icon {
  fill: var(--primary-text-color--);
  width: 12px;
  height: 16px;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item.smartphone{
  width: 10px;
  height: 12px;
}

.link.header:hover,
.link.header:focus {
  color: var(--accent-color--);
}

.link.header:hover .contacts-icon,
.link.header:focus .contacts-icon {
  fill: var(--accent-color--);
}

/* HERO */

.hero {
  /* background-color: var(--hero-bcr-color--); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;
  /* padding-top: 200px; */

  color: var(--button-color--);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 700px;
}

.button {
  color: var(--title-text-color--);
  background-color: var(--button-bcr-color--);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;

  /* transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.button.link:hover,
.button.link:focus,
.button.link:active {
  color: var(--button-color--);
  background-color: var(--accent-color--);
}

.button.hero {
  display: inline-block;
  padding: 10px 32px;
  /* margin-bottom: 200px; */
  margin-right: auto;
  margin-left: auto;

  color: var(--button-color--);
  background-color: var(--accent-color--);
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
}

.hero.section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container.hero {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

.hero.section{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
      var(--hero-gradient--),
      var(--hero-gradient--)),
      url("../images/hero.jpg");

  background-color: var(--hero-bcr-color--);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*  FEATURES */
.features-list .title,
.social-networks .title{

  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color--);
}

.features-list .text {
  margin-bottom: 0;
  margin-top: 0;

  font-size: 14px;
  line-height: 1.71;
}

.features > .title.heading {
  margin-top: 0;
  margin-bottom: 0;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;


}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}

.features-list .item {
  width: 270px;
  margin-right: 30px;
}

.features-list .item:nth-child(4n) {
  margin-right: 0;
}

.container.features {
  display: flex;
  /* padding-bottom: 94px;
  padding-top: 94px; */
  align-items: center;
  justify-content: space-between;
}

.features.section {
  padding-bottom: 0;
}

/* .feature-box{

  width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
 
}
.feature-box-icon{
height: 70px;
} */

 .features-list .item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  /* outline: 2px solid tomato; */
} 

.item.antenna::before{
  background-image: url("../images/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
  
}
.item.clock::before {
  background-image: url("../images/clock.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.item.planning::before {
  background-image: url("../images/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.item.astronaut::before {
  background-image: url("../images/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;

}


/* EXAMPLES*/
.example .title {

  margin-bottom: 50px;
}

.example-list {
  display: flex;
}


.title.heading>.list {
  padding-left: 0;
}

.example-list .picture {
  display: block;
  /* margin-right: 30px; */
}

.example-list .list:not(:last-child) {
  margin-right: 30px;
}

.list.box{
  position: relative;
  display: block;
}


.pic-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, .8);
  
}
.pic-box-desc{
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      padding-top: 27px;
      text-align: center;
      letter-spacing: 0.03em;;
      text-transform: uppercase;
      color: #fff;
margin-top: 0;
margin-bottom: 0;
    }


/* TEAM */
.team-list .title,
.clients .title-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 0;
}

.team {
  background-color: #f5f4fa;
}

.team .title,
.team-list .title {
  color: var(--title-text-color--);
}

.team-list .describtion {
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color--);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.team-member.item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.container.title>.title.heading {
  margin-bottom: 50px;
}

.team-member {
  width: calc((100%-3 * 30px) / 4);
  background-color: #fff;

  text-align: center;

}

.team-member.item {

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}


.team-describtion {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  padding: 0;
  margin-right: 0;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 44px;
  height: 44px;
  border: none;

  background-color: var(--button-color--);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-size: contain;

  color: var(--icon-fii--);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  fill: var(--button-color--);
  background-color: var(--accent-color--);
  color: #fff;
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: currentColor
    /* fill: var(--icon-fii--) */
}

.social-link-icon:hover,
.social-link-icon:focus {
  fill: var(--button-color--)
}

.social .list {
  margin-top: 0;
}

.social .list:not(:last-child) {
  margin-right: 10px;
}


/* CLIENTS */
.clients .title.heading {
  margin-bottom: 50px;

}

.clients-list {
  display: flex;

  align-items: center;
}

.clients.icon {
  width: 170px;
  height: 92px;
  fill: var(--icon-fii--);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;

  align-items: center;
  justify-content: center;


  background-color: var(--button-color--);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 50% 50%;
  background-size: contain;
  color: var(--icon-fii--);

  border: 1px solid var(--icon-fii--);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:not(:last-child) {
  margin-right: 30px;
}


.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color--);
  color: var(--accent-color--);

}

.clients.icon:hover,
.clients.icon:focus {
  fill: var(--accent-color--);
  border: 1px solid var(--accent-color--);
  border-radius: 4px;
  color: #2196f3;
}

/* футер */

footer {
  background-color: var(--footer-bcr-color--);
}

.logo.footer {
  color: var(--button-color--);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo.footer .accent {
  color: var(--accent-color--);
}

.contacts-list .address {
  color: var(--button-color--);
  font-style: normal;
  
}

.contacts-list .address:hover,
.contacts-list .address:focus,
.contacts-list .address:active {
  color: var(--accent-color--);
}

.item.address .address {
  font-size: 14px;
  line-height: 2;
  text-decoration: none;

  color: var(--button-color--);
}

.item.address .link.footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color--);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.address .link.footer:hover,
.item.address .link.footer:focus {
  color: var(--accent-color--);
}


.logo.footer {
  display: block;
  margin-bottom: 20px;
  /* padding-top: 60px; */
}

.contacts-list.footer {
  display: block;
  padding-bottom: 0;
  /* margin-left: 0; */
}

.footer .item.address {
  margin-left: 0;
}

.item.address:not(:last-child) {
  margin-bottom: 10px;
}

.container.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  display: flex;
  align-items: center;
  align-items: baseline;
}

/* .social-link-icon.network {
  background-color: var(--footer-bcr-color--);
} */

.social-networks .title {
  color: var(--button-color--);
  margin-bottom: 20px;
}

.social-networks {
  display: flex;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.social-networks .list {
  display: flex;
}

.footer.content {
  display: flex;

}

.box {
  margin-right: 70px;
}

.social-networks .item {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 44px;
  height: 44px;
  border: none;

  /* background-color: var(--footer-bcr-color--); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-size: contain;

  color: var(--button-bcr-color--);

}

*/ .social-link-icon {
  width: 44px;
  height: 44px;
  fill: var(--button-color--);
}

.social-link.network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;

}

.social-link.network:hover,
.social-link.network:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-link.network:hover {
  fill: var(--button-color--)
}

.social-networks .item {
  display: flex;
  margin-right: 10px;
}

.network .social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--button-bcr-color--)
}


/* MODAL */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  z-index: 100;

  display: flex ;
  align-items: center;
  justify-content: center;
  opacity: 1;
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}
.backdrop.is-hidden .modal{

transform: translate(-50%, -50%) scale(0.9) rotate(50deg);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  min-width: 528px;
  min-height: 581px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 400ms ease-in-out 200ms;;
    }

    .button-close{
  position: absolute;  
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  
  border-radius: 50% ;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* СТИЛИ ПОРТФОЛИО */

/* FILTER  */

/* ЗАГОЛОВОК СКРЫТЫЙ */
.fitler {
  display: none;
}

.button.link.filter {
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  
}
.button.link.filter:hover,
.button.link.filter:focus {
 
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}




.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list.item {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
 margin-bottom: 0;
}


.filter-list.item:not(:last-child) {
  margin-right: 8px;
}

/* PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}



.portfolio-item {
  background-color: var(--button-color--);
  justify-content: flex-start;
  font-style: inherit;
}

.portfolio-item .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color--);

  margin-top: 0;
  margin-bottom: 4px;
  text-decoration: none;
}

.portfolio-item .link {
  text-decoration: none;
  overflow: hidden;
}

.portfolio-item .describtion {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 2;

  color: var(--primary-text-color--);
}

.portfolio-item .describtion {
  margin-bottom: 0;
  margin-top: 0;
}

.portfolio-about {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item :hover .portfolio-overlay {
  transform: translateY(0); 
   opacity: 1;
}

.portolio-box.text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-align: justify;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: #ffffff;

}


.portfolio-item :hover .portolio-box.text {
  opacity: 1;
}




